/* Impostazioni generali */
.root {
    -fx-font-family: "Roboto", sans-serif;
    -fx-background-color: #f5f5f5;
}

/* Pulsanti moderni */
.button {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 12 24 12 24;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-cursor: hand;
}

/* Campi di testo */
.text-field, .password-field {
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-color: white;
    -fx-border-color: #ddd;
    -fx-border-radius: 5;
}

/* Contenitori */
.VBox, .HBox, .GridPane {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-alignment: center;
}

/* Immagini */
.ImageView {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0.3, 0, 4);
    -fx-cursor: hand;
}

/* Progress Bar */
.progress-bar {
    -fx-accent: green;
}
.progress-bar .track {
    -fx-background-color: red;
}

.clickable-image:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0.3, 0, 2);
}

.table-view {
	-fx-background-color: transparent;
	-fx-border-color: #5232ED;
	-fx-border-width: 5px;
    -fx-table-cell-border-color: transparent;
	-fx-font-size: 18px;
	-fx-padding: 0;
	-fx-background-insets: 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
	-fx-background-insets: 0;
}
.table-view .column-header-background {
    -fx-background-color: #5232ED;
}
.table-view .column-header .label {
	-fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
	-fx-padding: 0 0 5 0;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
	-fx-background-color: transparent;
	-fx-text-fill: #000000;
	-fx-padding: 5 0 4 0;
	-fx-background-insets: 0;
}
.table-view .table-row-cell {
    -fx-border-color: transparent transparent #5232ED transparent;
    -fx-border-width: 0 0 1px 0;
}

.table-view .cell:hover,
.table-view .cell:selected,
.table-view .row-cell:filled:selected,
.table-view .row-cell:selected {
    -fx-background-color: transparent;
}
